@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string query = "appid=" + Request.QueryString["appid"];
}

<table cellpadding="0" cellspacing="1" border="0" width="100%">
    <tr>
        <td style="width:200px; vertical-align:top; padding:5px 5px 0 5px;">
            <iframe id="Iframe1" frameborder="0" scrolling="auto" src="Open_Tree1?@query&iframeid=Iframe1" style="width:100%;margin:0;padding:0;"></iframe> 
        </td>
        <td class="organizesplit" style="padding:0;">
            <iframe id="WorkFlowFormDesinger_Iframe2" frameborder="0" scrolling="auto" src="Open_List1?@query&iframeid=WorkFlowFormDesinger_Iframe2" style="width:100%;margin:0;padding:0;"></iframe> 
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(function ()
    {
        var height = $(window).height();
        $('#Iframe1').attr('height', height - 13);
        $('#WorkFlowFormDesinger_Iframe2').attr('height', height - 13);
    });
</script>
