@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.BodyStyle = "style='padding:0; overflow:hidden;'";
    Page.CheckApp = false;
    string loginMsg;
    if (!WebMvc.Common.Tools.CheckLogin(out loginMsg))
    {
        Response.End();
        return;
    }
}

<form id="form1" runat="server">
<table cellpadding="0" cellspacing="1" border="0" width="100%">
    <tr>
        <td style="width:@("1"==Request.QueryString["isselect"]?"160px":"300px"); vertical-align:top; padding:5px 5px 0 5px;">
            <iframe id="Iframe1" frameborder="0" scrolling="auto" src="Tree@(Request.Url.Query)" style="width:100%;margin:0;padding:0;"></iframe> 
        </td>
        <td class="organizesplit">
            <iframe id="Iframe2_FilesList" frameborder="0" scrolling="auto" src="List@(Request.Url.Query)&id=@(new RoadFlow.Platform.Files().GetUserRootPath(RoadFlow.Platform.Users.CurrentUserID).DesEncrypt())" style="width:100%;margin:0;padding:0;"></iframe> 
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(function ()
    {
        var height = $(window).height();
        if (height == 0)
        {
            height = $(parent).height();
        }
        $('#Iframe1').attr('height', height - 10);
        $('#Iframe2_FilesList').attr('height', height - 10);
    });
</script>
</form>