/*tab*/
.tab {border:1px solid #284f8e; }
.tab_top { height:4px; background:#f3f6fb; font-size:0px;}
.tab_title {width:100%; height:33px; background:#f3f6fb url(../images/tab/bg.gif) repeat-x bottom; position:relative; overflow:hidden;}
.tab_title_ul {  float:left; width:99999px; list-style:none; margin:0; padding:2px 0 0 2px; position:absolute; z-index:10; overflow:hidden;}
.tab_title_ul_li { float:left; height:30px; margin:0 1px; background:url(../images/tab/right.gif) no-repeat right top; cursor:pointer; border-bottom:1px solid #2d2d2d;}
.tab_title_ul_li_txt { float:left; height:30px; white-space:nowrap; line-height:31px!important; line-height:30px; padding:0 8px; background:url(../images/tab/left.gif) no-repeat left top; }
.tab_title_ul_li_over { float:left; height:31px; margin:0 1px; background:url(../images/tab/right1.gif) no-repeat right top; cursor:pointer;}
.tab_title_ul_li_txt_over { float:left; height:31px; white-space:nowrap; line-height:31px!important; line-height:31px; padding:0 8px; background:url(../images/tab/left1.gif) no-repeat left top;}
.tab_title_ul_li_close { float:left; padding-top:9px!important;  padding-top:4px; cursor:pointer;}
.tab_title_ul_li_close_div { background:url(../images/tab/close.gif) no-repeat left; width:17px; height:11px;}
.tab_title_ul_li_close_div_over { background:url(../images/tab/close1.gif) no-repeat left; width:17px; height:11px; }
.tab_title_left { float:left; background:url(../images/tab/scroll.gif) 0 0; width:17px; height:23px; margin-top:2px; z-index:20; position:relative; cursor:pointer;}
.tab_title_right { float:right; background:url(../images/tab/scroll.gif) -51px 0;  width:17px; height:23px; margin-top:2px; z-index:20; position:relative; cursor:pointer;}
.tab_title_left_over { float:left; background:url(../images/tab/scroll.gif) -17px 0; width:17px; height:23px; margin-top:2px; z-index:20; position:relative; cursor:pointer;}
.tab_title_right_over { float:right; background:url(../images/tab/scroll.gif) -68px 0;  width:17px; height:23px; margin-top:2px; z-index:20; position:relative; cursor:pointer;}
/*tab*/

/*contextmenu*/
.ctxmenu { background:#f5f5f5 url(../images/menu/bg.gif) repeat-y left; border:1px solid #979797; padding:5px 2px 5px 2px; white-space:nowrap;word-break:keep-all; overflow:visible; position:absolute; z-index:999999; overflow:hidden; box-shadow:1px 1px 6px #eae8e8; filter:progid:DXImageTransform.Microsoft.Shadow(color='#eae8e8', Direction=120, Strength=3);-moz-box-shadow:1px 1px 5px #eae8e8;-webkit-box-shadow:1px 1px 5px #eae8e8;}
.ctxmenuimg { width:31px; padding-left:4px;}
.ctxmenuimg1 { width:31px; cursor:pointer; padding-left:4px; margin:0; background:url(../images/menu/left.gif) no-repeat left;}
.ctxmenutxt { cursor:pointer; padding:4px 9px 4px 0;height:16px;}
.ctxmenutxt1 { cursor:pointer; padding:4px 9px 4px 0;height:16px; margin:0; background:url(../images/menu/right.gif) no-repeat right;}
.ctxmenutxt_disabled { color:#a1a1a1; padding:4px 6px 4px 0;height:16px; }
.ctxmenuimg_disabled { filter:alpha(opacity=20);-khtml-opacity: 0.2;-moz-opacity:.2;opacity:0.2; cursor:initial;}
.ctxmenu_itemsplit { height:15px; background:url(../images/menu/split.gif); }
/*contextmenu*/

/*tree*/
.tree_div { margin:0; padding:0; white-space:nowrap;}
.tree_ul { margin:0; padding:0 0 0 2px; list-style:none; vertical-align:top; height:20px; line-height:20px;}
.tree_ul_over { margin:0; padding:0 0 0 2px; list-style:none; vertical-align:top; height:20px; line-height:20px; background:url(../images/tree/bg.gif) repeat-x;}
.tree_title { display:inline-block; height:20px; vertical-align:baseline; cursor:pointer;}
.tree_empty { width:19px; height:20px; display:inline-block; vertical-align:top; }
.tree_root { width:19px; height:20px; display:inline-block; vertical-align:top; cursor:pointer; background:url(../images/tree/root.gif) no-repeat 0px 2px;}
.tree_loading { width:16px; height:20px; display:inline-block; vertical-align:top; background:url(../images/tree/loading.gif) no-repeat -1px 2px;}
.tree_close { width:16px; height:20px; display:inline-block; vertical-align:top; cursor:pointer; background:url(../images/tree/tree.gif) no-repeat -10px -571px;}
.tree_open { width:16px; height:20px; display:inline-block; vertical-align:top; cursor:pointer; background:url(../images/tree/tree.gif) no-repeat  -10px -534px;}
.tree_leaf { width:16px; height:20px; display:inline-block; vertical-align:top; background:url(../images/tree/tree.gif) no-repeat -11px -606px;}
.tree_minus_top { width:19px; height:20px; display:inline-block; vertical-align:top; cursor:pointer; background:url(../images/tree/tree.gif) no-repeat -8px -265px;}
.tree_minus_top_noprev { width:19px; height:20px; display:inline-block; vertical-align:top; cursor:pointer; background:url(../images/tree/tree.gif) no-repeat -8px -246px;}
.tree_minus_center { width:19px; height:20px; display:inline-block; vertical-align:top; cursor:pointer; background:url(../images/tree/tree.gif) no-repeat -8px -293px;}
.tree_minus_bottom { width:19px; height:20px; display:inline-block; vertical-align:top; cursor:pointer;  background:url(../images/tree/tree.gif) no-repeat -8px -344px;}
.tree_minus_bottom_noprev { width:19px; height:20px; display:inline-block; vertical-align:top; cursor:pointer;  background:url(../images/tree/tree.gif) no-repeat -8px -196px;}
.tree_plus_top { width:19px; height:20px; display:inline-block; vertical-align:top; cursor:pointer; background:url(../images/tree/tree.gif) no-repeat -8px -51px;}
.tree_plus_top_noprev { width:19px; height:20px; display:inline-block; vertical-align:top; cursor:pointer; background:url(../images/tree/tree.gif) no-repeat -8px -46px;}
.tree_plus_center { width:19px; height:20px; display:inline-block; vertical-align:top; cursor:pointer; background:url(../images/tree/tree.gif) no-repeat -8px -93px;}
.tree_plus_bottom { width:19px; height:20px; display:inline-block; vertical-align:top; cursor:pointer; background:url(../images/tree/tree.gif) no-repeat -8px -144px;}
.tree_plus_bottom_noprev { width:19px; height:20px; display:inline-block; vertical-align:top; cursor:pointer; background:url(../images/tree/tree.gif) no-repeat -8px 4px;}
.tree_line_conn { width:19px; height:20px; display:inline-block; vertical-align:top; background:url(../images/tree/tree.gif) no-repeat -8px -394px;}
.tree_line_center { width:19px; height:20px; display:inline-block; vertical-align:top; background:url(../images/tree/tree.gif) no-repeat -8px -444px;}
.tree_line_bottom { width:19px; height:20px; display:inline-block; vertical-align:top; background:url(../images/tree/tree.gif) no-repeat -8px -494px;}
.tree_line_top { width:19px; height:20px; display:inline-block; vertical-align:top; background:url(../images/tree/tree.gif) no-repeat -8px -630px;}
.tree_li{ display:inline; vertical-align:top;}
/*tree*/

/*window*/
.window_maskdiv{width:1px;height:1px;background-color:#000000;position:absolute; filter:alpha(opacity=5);-khtml-opacity:0.1;-moz-opacity:0.1; opacity:0.1;left:0;top:0;right:0;bottom:0;}
.window_maskdiv1{width:1px;height:1px;background-color:#ffffff;position:absolute; filter:alpha(opacity=5);-khtml-opacity:0.1;-moz-opacity:0.1; opacity:0.1;left:0;top:0;right:0;bottom:0;}
.window_maindiv{position:absolute;background:#ffffff; overflow:hidden; border:1px solid #2d2d2d; box-shadow:0px 0px 7px #cccccc; filter:progid:DXImageTransform.Microsoft.Shadow(color='#cccccc', Direction=120, Strength=3);-moz-box-shadow:0px 0px 7px #cccccc;-webkit-box-shadow:0px 0px 7px #cccccc;}
.window_title{height:26px; padding-left:5px; color:#ffffff; padding-right:0px; background:url(../images/window/bg.gif) repeat-x;}
.window_title_title{font-weight:bold; float:left; overflow:hidden; height:26px; line-height:28px;}
.window_title_title_ico{font-weight:bold; float:left; padding-left:16px; height:26px; line-height:28px; overflow:hidden; background:url(../images/window/ico.gif) no-repeat left center;}
.window_title_button{float:right; width:26px; cursor:pointer; height:26px; line-height:26px; background:url(../images/window/close.gif) no-repeat center;}
.window_title_button1{float:right; width:26px; cursor:pointer; height:26px; line-height:26px; background:#ec5d69 url(../images/window/close.gif) no-repeat center;}
.window_body{padding:0;}
.window_resize{ padding:0 2px 2px 0; height:13px;}
.window_resize_img{ height:11px; width:11px; float:right; background:url(../images/window/drag.gif) no-repeat right center; cursor:se-resize;}
/*window*/

/*text*/
.text1,.mytext,.mytextarea{background:#ffffff; border:1px solid #b7b6b4; line-height:21px; vertical-align:middle; height:21px; padding-left:2px;  margin:0;}
.text2,.mytext:hover,.mytext:focus,.mytextarea:hover,.mytextarea:focus{background:#ffffff; border:1px solid #747474; box-shadow: 0 0 3px #cccccc; line-height:21px; vertical-align:middle; height:21px; padding-left:2px;  margin:0;}
/*text*/

/*disabled text*/
.disabled{background:#efeeee; border:1px solid #c8c8c7; color:#666666; line-height:21px; vertical-align:middle; height:21px;padding-left:2px;}
/*disabled text*/

/*validate*/
.validate1{display:inline-block; height:18px; width:18px; vertical-align:middle; margin-left:4px; border:none; background:url(../images/validate/right.png) no-repeat left center; _background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/validate/right.png',sizingMethod='crop'); }
.validate2{display:inline-block; height:18px; vertical-align:middle; margin-left:4px; padding:5px 3px 0 0; border:1px solid #ffcc5d; padding-left:18px; background:#fffdcf url(../images/validate/error.png) no-repeat left center; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/validate/error.png',sizingMethod='crop'); }
.validate3{display:inline-block; height:18px; width:18px; vertical-align:middle; background:url(../images/validate/error.png) no-repeat center; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/validate/error.png',sizingMethod='crop'); }
/*validate*/

/*select*/
.select1,.myselect{background:#ffffff; border:1px solid #b7b6b4; line-height:25px; padding:2px; vertical-align:middle; height:25px;}
.select3,.myselect:hover,.myselect:focus{background:#ffffff; border:1px solid #747474; box-shadow: 0 0 3px #cccccc; line-height:25px; padding:2px; vertical-align:middle; height:25px;}
/*select*/

/*button*/
.button1,.mybutton{background:#c0c0c0; border:1px solid #969595; color:#000; vertical-align:middle; height:25px;}
.button2,.mybutton:hover{background:#505d6e; border:1px solid #34313a; box-shadow: 0 0 3px #747474; color:#fff; vertical-align:middle; height:25px;}
.buttondisabled,.mybutton:disabled{background:#d5d5d4; border:1px solid #b7b6b4; color:#a6a5a4; vertical-align:middle; height:25px;}
/*button*/

/*grid*/
.grid { background:#ffffff; position:relative}
.gridlist { position:relative }
.gridhead { background:#adacac; overflow:hidden; position:relative}
.gridheadwrap { background:#adacac; position:relative}
.gridbody { overflow:auto; position:relative}
.gridhead table { border-collapse:collapse;}
.gridhead table thead tr th { text-align:left; padding-left:2px; height:28px;border-spacing:0; border:1px solid #fafbfc; border-top:none 0; border-bottom:none 0;}
.gridheadtitle { float:left; height:26px; line-height:26px;}
.gridheadsort { float:right; }
.gridheadsort div { float:left; height:26px; line-height:26px;}
.gridheadsortempty {width:16px; height:26px;}
.gridheadsortasc {width:16px; height:26px; background:url(../Images/grid/sortasc.gif) no-repeat center;}
.gridheadsortdesc {width:16px; height:26px; background:url(../Images/grid/sortdesc.gif) no-repeat center;}
.gridheadsortasc1 {width:16px; height:26px; background:url(../Images/grid/sortasc1.gif) no-repeat center;}
.gridheadsortdesc1 {width:16px; height:26px; background:url(../Images/grid/sortdesc1.gif) no-repeat center;}
.gridheadresize { width:2px; cursor:e-resize; float:right;}
.gridheadresizeline { font-size:0px; width:1px; cursor:e-resize; border-left:1px dashed #ccc;height:auto!important; height:100%; min-height:100%; position:absolute; z-index:999999; top:0;}
.gridmask { background:#fafafa; z-index:99999; text-align:center; width:100%; height:auto!important; height:100%; min-height:100%; position:absolute; filter:alpha(opacity=1);-khtml-opacity:0.1;-moz-opacity:0.1; opacity:0.1;left:0;top:0;}
.gridbody table { border-collapse:collapse; table-layout: fixed;}
.gridbody table tbody tr td { text-align:left; padding-left:2px; height:28px; border-bottom:1px dotted #e8e8e8; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; border-spacing:0; }
.gridbodytrodd { text-align:left; padding-left:2px; height:28px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; background:#fbfbfb;border-spacing:0;}
.gridbodytreven { text-align:left; padding-left:2px; height:28px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; background:#ffffff;border-spacing:0;}
.gridbodytrclick { text-align:left; padding-left:2px; height:28px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; background:#f4f3f3;border-spacing:0;}
.gridpager { height:26px; background:#ffffff; padding-top:6px; text-align:right; padding-right:6px;}
.gridmaskdiv { background: #f9faf9; float:left; padding-top:8px; border:1px solid #f2f2f2;z-index: 999999; width: 190px; height: 42px; vertical-align: middle; position: absolute; left: 0; top: 0; }
.gridmaskdiv div { margin-left:20px; padding-left:38px; height:32px; line-height:32px; background-image: url(../Images/grid/loading.gif); background-position:left; background-repeat: no-repeat; }
/*grid*/

/*combox*/
.comboxdiv {position:absolute; margin-top:0px; z-index:2000; overflow:auto; border:1px solid #747474; background:#ffffff; padding:1px; box-shadow:0 0 2px #ccc;}
.comboxtext1 {border:1px solid #b7b6b4; padding-right:16px; line-height:21px; vertical-align:middle; height:21px; padding-left:2px;  margin:0; background:#ffffff url(../Images/combox/down.gif) no-repeat right center;}
.comboxtext2 {border:1px solid #747474; padding-right:16px; line-height:21px; vertical-align:middle; height:21px; padding-left:2px;  margin:0; background:#ffffff url(../Images/combox/down1.gif) no-repeat right center;}
.comboxoption {text-align:left; height:18px; line-height:18px; padding:2px 2px; background:#ffffff;}
.comboxoption1 {text-align:left; height:18px; line-height:18px; padding:2px 2px; background:#999999;}
.comboxoptgroup {text-align:left; height:18px; line-height:18px; padding:2px 2px; background:#ffffff; font-style:italic; font-weight:bold;}
/*combox*/
