@{
    ViewBag.Title = "Tree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form>
    <div id="menu"></div>
</form>
<script type="text/javascript">
    var AppID = '@Request.QueryString["appid"]';
    var roadTree = null;
    $(function ()
    {
        loadTree();
    });
    function loadTree()
    {
        $("#menu").html('');
        roadTree = new RoadUI.Tree({ id: "menu", path: "Tree1", refreshpath: "TreeRefresh", onclick: openUrl });
    }
    function reLoad(id)
    {
        if (roadTree != null)
        {
            roadTree.refresh(id);
        }
    }
    function openUrl(json)
    {
        parent.frames[1].location = "Body?id=" + json.id + "&appid=" + AppID;
    }
</script>
