.loginbgdiv { width:100%; height:680px; background:url(../../Images/login/bg2.png) no-repeat center;}
.indexwelcome { margin-right:0px; background:url(../../images/ico/member.gif) no-repeat left; padding-left:18px;}
.loadmenu {background:url(../../Images/loading/load4.gif) no-repeat left; padding-left:18px;}

.homemessage{-webkit-box-shadow:0 0 11px #fff;-moz-box-shadow:0 0 11px #fff;box-shadow:0 0 11px #fff;padding:8px; width:96%;margin:0 auto; overflow:hidden;}
.homemessagediv { width:180px; height:80px; border-radius:5px; float:left; margin-right:25px;}
.homemessagenumber { font-size:32px; color:#fff; font-family:Arial; font-weight:lighter; padding-right:20px;height:55px;}
.homemessagetext { text-align:center; width:180px; height:30px; line-height:25px; position:relative; }
.homemessagetextbg { position:absolute; left: 0;top: 0;z-index: 10; width:180px;height: 25px; background-color:#000000;filter:Alpha(opacity=10);*background-color: rgba(0,0,0,0.1);opacity:0.1;border-radius:0 0 5px 5px;}
.homemessagetextword { position: relative; z-index:11; font-size:14px;}

.homelistdiv {-webkit-box-shadow:0 0 11px #e8e8e8;-moz-box-shadow:0 0 11px #e8e8e8;box-shadow:0 0 11px #e8e8e8; padding:8px 12px 8px 12px; border:1px solid #f4f4f4; border-radius:5px; margin-bottom:25px; }
.hometable { width:100%;}
.hometable thead tr th { text-align:left; height:28px; vertical-align:middle;}
.hometable tbody tr td { text-align:left; height:32px; vertical-align:middle; border-bottom:1px dotted #e8e8e8;}

a.homemsglink:link,a.homemsglink:visited,a.homemsglink:active {color:#ffffff; text-decoration:none;}
a.homemsglink:hover {color:#ffffff; text-decoration:none; cursor:pointer;} 

.reporttable {margin:0 auto; width:100%;border-collapse:collapse;border:1px solid #000000;}
.reporttable thead tr th {height:28px; padding-left:3px;}
.reporttable tbody tr td {height:28px; padding-left:3px;}