@{
    ViewBag.Title = "Index";

    Response.Write("tesg");
    Response.End();
    return;
    RoadFlow.Platform.Log.Add("test", "test");
}
<br />
<link href="~/Content/Theme/Blue/jqgrid/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/Theme/Blue/jqgrid/css/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jqGrid/grid.locale-cn.js"></script>
<script src="~/Scripts/jqGrid/grid.base.js"></script>
<script src="~/Scripts/jqGrid/jquery-ui.min.js"></script>
<table id="jqGrid" width="100%"></table>
<script>
    $(document).ready(function ()
    {
        jQuery("#jqGrid").jqGrid({
            datatype: "local",
            colNames: ['Inv No', 'Date', 'Client', 'Amount', 'Tax', 'Total', 'Notes'],
            colModel: [
                { name: 'id', index: 'id'},
                { name: 'invdate', index: 'invdate' },
                { name: 'name', index: 'name asc, invdate'},
                { name: 'amount', index: 'amount', align: "right" },
                { name: 'tax', index: 'tax',  align: "right" },
                { name: 'total', index: 'total',  align: "right" },
                { name: 'note', index: 'note',  sortable: false }
            ],
            
            sortorder: "desc",
            height: '100%',
            width: window.screen.availWidth - 20,
            multiselect: true
        });

        var mydata = [
		{ id: "1", invdate: "<a href=\"javascript:alert('a');\">2007-10-01</a>", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
		{ id: "2", invdate: "2007-10-02", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
		{ id: "3", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
		{ id: "4", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
		{ id: "5", invdate: "2007-10-05", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
		{ id: "6", invdate: "2007-09-06", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" },
		{ id: "7", invdate: "2007-10-04", name: "test", note: "note", amount: "200.00", tax: "10.00", total: "210.00" },
		{ id: "8", invdate: "2007-10-03", name: "test2", note: "note2", amount: "300.00", tax: "20.00", total: "320.00" },
		{ id: "9", invdate: "2007-09-01", name: "test3", note: "note3", amount: "400.00", tax: "30.00", total: "430.00" }
        ];
        for (var i = 0; i <= mydata.length; i++)
            $("#jqGrid").jqGrid('addRowData', i + 1, mydata[i]);
    });
</script>

