<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Theme/Common.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="~/Content/Theme/Blue/Style/style.css" id="style_style" rel="stylesheet" type="text/css" media="screen"/>
    <link href="~/Content/Theme/Blue/Style/ui.css" id="style_ui" rel="stylesheet" type="text/css" media="screen"/> 
    <link href="~/Scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--[if lt IE 8]><link href="~/Scripts/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet" type="text/css"/><![endif]-->
    <script type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Scripts/json.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.core.js?v=1"></script>
    <script type="text/javascript" src="~/Scripts/roadui.button.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.calendar.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.file.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.member.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.dict.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.menu.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.select.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.combox.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.tab.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.text.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.textarea.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.editor.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.tree.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.window.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.dragsort.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.selectico.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.selectdiv.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.accordion.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.grid.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.treetable.js"></script>
    <script type="text/javascript" src="~/Scripts/roadui.init.js"></script>
   @* <!--[if lt IE 9]>
        <script type="text/javascript" src="~/Scripts/es5-shim.min.js"></script>
        <script type="text/javascript" src="~/Scripts/es5-sham.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="~/Scripts/json3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/template-web.js"></script>*@
    <link href="~/Scripts/select2/select2.css" rel="stylesheet" />
    <script src="~/Scripts/select2/select2.full.js"></script>
</head>

<body @Html.Raw(Page.BodyStyle)>
    @RenderBody()
</body>
</html>
